SUMMARY = "Python 3 Barcode library"
DESCRIPTION = "A Python library for generating barcodes."
HOMEPAGE = "https://github.com/WhyNotHugo/python-barcode"
LICENSE = "MIT"
LIC_FILES_CHKSUM = "file://LICENSE;md5=7c91b5429443171cbb7c9204601e6d9c"

SRCREV = "2f96373fb25939b8fa98e1a9537a0ecfe26eb708"
SRC_URI[sha256sum] = "adb716b7ab4c6ffcf595dc2c89a98c055bfc3f2c5a99df878e4ff2e4f5aa1307"

S = "${WORKDIR}/git"

inherit  setuptools3

RDEPENDS:${PN} += "python3-pillow python3-core python3-datetime python3-io python3-logging python3-math "

